#footer-links {
    padding: 5%;
    background-color: dodgerblue;
    border-top: 5px solid gainsboro;
}
#copyright {
    padding: 2%;
    background-color: dimgray;
}
footer {
    margin-top: 10%;
    width: 100%;
    background-color: red;
    text-align: center;
}