.nav-link {
    display: inline-block !important;
}
#header {
    padding: 2%;
    background-color: aliceblue;
    border-bottom: 5px solid lavender;
    margin-bottom: 5%;
}
.inline-nav {
    display:inline-block;
}