/*
TABLE OF CONTENT
HEADER
BODY
FOOTER
*/

body {
    background-color: cornsilk;
    margin: 0;
}

// FOOTER
footer {
    margin-top: 10%;
    width: 100%;
    background-color: red;
    text-align: center;
}
.explantion {
    background-color: blue;
}